ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
BANDTOY_LLM_MODEL=ep-20260219195713-2nbl9
BANDTOY_RECOGNIZE_MODE=personality

VOLC_ASR_APP_ID=
VOLC_ASR_ACCESS_TOKEN=
VOLC_ASR_SECRET_KEY=
VOLC_ASR_URL=wss://openspeech.bytedance.com/api/v3/sauc/bigmodel_nostream
VOLC_ASR_RESOURCE_ID=volc.seedasr.sauc.duration
VOLC_ASR_LANGUAGE=zh-CN

VOLC_TTS_APP_ID=
VOLC_TTS_ACCESS_TOKEN=
VOLC_TTS_URL=https://openspeech.bytedance.com/api/v1/tts
VOLC_TTS_CLUSTER=volcano_tts
VOLC_TTS_VOICE_TYPE=BV700_V2_streaming
VOLC_TTS_SAMPLE_RATE=24000
